<!-- Navigation bar. common for all pages -->
<div id="wrapper" class="container">
    <div class="navbar navbar-inverse">
        <div class="navbar-inner navbar-fixed-top">
            <div class="container">
                <a id="movies_path" class="brand" href="/">movies@pyramid3213</a>
                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        <li>
                            <a id="signin" href="">Sign in</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of navigation bar --> 
<div id="indexContainer" class="container">
    <div style="padding-top:3%;">
        <div class="page-header row">
            <h1 class="span10">Hot on Pyramid3213</h1>
            <a id="new-movie" class="btn btn-primary" href="#new_movie">Add new movie</a>
        </div>
    </div>
    <div id="pagination" class="row">
        <a id="prevLink">&lt;&lt; Prev</a> <a id="nextLink">Next &gt;&gt;</a>
    </div>
    <div id="movies-div" class="row">
    </div>
</div>

<!-- index page. displaying all movies -->    
<script type="text/template" id="movie-template">
    <h3>
        {{ if (model.title.length <= 16) { }}
            {{= model.title }}
        {{ } else { }}
            {{= model.title.substring(0,13) + "..." }}
        {{ } }}
    </h3>
    <img src="{{= model.img_url }}">
    <p>Score:
        {{ if (model.avg_score != null) { }}
            {{= Math.round(model.avg_score * 100) / 100 }}
        {{ } else { }}
            0.0
        {{ } }} 
    </p>
</script>
<!-- End of index page --> 

<!-- single movie page. view only one movie with its reviews -->
<script type="text/template" id="single-movie-template">
    <div class="row">
        <a href="/" id="movies_path">movies</a> &gt;
        {{= model.title }}
        <br><br>
    </div>
    <div class="row">
        <div class="span3">
            <img src="{{= model.img_url }}">
        </div>
        <div class="span9">
            <div>
                <h3>{{= model.title }}</h3>
                <p>{{= model.summary }}</p>
                <p><a href="">Click here to delete this movie.</a> This action cannot be undone.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <h3 class="span12">Reviews</h3>
        </div>
        <div id="reviews-div">
            <!-- loop through each review and display them -->
            {{ _.each(model.reviews.toJSON(), function(review) { }}
                <div class="well">
                    <div class="row">
                        <p class="span12">
                            <strong>{{= review.user.username }} </strong> reviewed.
                            <span class="label label-success pull-right">
                                {{= review.score }} points
                            </span>
                        </p>
                    </div>
                    <div class="row">
                        <p class="span12">{{= review.comment }}</p>
                    </div>
                </div>
            {{ }); }}
        </div>
        <div class="well">
            <div id="new-review-input" class="row">
                <label for="review_score" class="span3">Score (1-100)</label>
                <input type="number" name="review[score]" id="review_score" class="span3">
            </div>
            <div class="row">
                <label for="review_comment" class="span3">Comment</label>
                <textarea rows="3" name="review[comment]" id="review_comment" cols="40" class="span9">
                </textarea>
            </div>
            <a class="btn" id="create-review-btn" href="/#review/create">Create Review</a>
        </div>
    </div>
</script>
<!-- End of single movie page -->

<!-- create new movie page -->
<script type="text/template" id="create-movie-template">
<div>
    <h3>Create new movie</h3>
    <form method="POST" name="movie">
        <div class="control-group">
            <label for="movie_title" class="control-label">Title</label>
            <div class="controls">
                <input type="text" required="true" size="30" name="movie[title]" id="movie_title" class="text_field">
            </div>
        </div>
        <div class="control-group">
            <label for="movie_summary" class="control-label">Summary</label>
            <div class="controls">
                <input type="text" required="true" size="30" name="movie[summary]" id="movie_summary" class="text_field">
            </div>
        </div>
        <div class="control-group">
            <label for="movie_img" class="control-label">Img</label>
            <div class="controls">
                <input type="file" required="true" name="movie[img]" id="movie_img">
            </div>
        </div>
        <a id="submit" class="btn btn-primary">Create Movie</a>
        <a class="btn" id="cancel" href="#">Cancel</a>
    </form>
</div>
</script>
<!-- end of create new movie page --> 