<!-- Navigation bar. common for all pages -->
<div id="wrapper" class="container">
    <div class="navbar navbar-inverse">
        <div class="navbar-inner navbar-fixed-top">
            <div class="container">
                <a id="movies_path" class="brand" href="/">movies@pyramid3213</a>
                <div class="nav-collapse collapse">
                    <ul class="nav pull-right">
                        <li>
                            <a id="signin" href="/oauth/login" style="display:none;">Sign in</a>
                            <a id="acksignin" style="display:none;" class="dropdown-toggle" href="#" data-toggle="dropdown">
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/#logout">Sign out</a>
                                </li>
                            </ul>
                            <script type="text/javascript">
                                if (getCookie("access_token") == null || getCookie("access_token") == "") {
                                    $("#signin").show();
                                    $("#acksignin").text("").hide();
                                } else {
                                    $.ajax({
                                        type: "get",
                                        url: "http://cs3213.herokuapp.com/users/current.json?access_token="+getCookie("access_token"),
                                        cache: false,
                                        error: function(jqXHR, textStatus, error) {
                                            console.log("Could not get current user data - " + textStatus + ": " + error);
                                        },
                                        success: function(data, textStatus, jqXHR) {
                                            $("#signin").hide();
                                            $("#acksignin").html(data.email+'<i class="icon-circle-arrow-down"></i>').show();
                                        }
                                    });
                                }
                            </script>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End of navigation bar --> 
<div id="indexContainer" class="container">
    <div style="padding-top:3%;">
        <div class="page-header row">
            <h1 class="span10">Hot on Pyramid3213</h1>
            <a id="new-movie" class="btn btn-primary" href="#new_movie">Add new movie</a>
        </div>
    </div>
    <div id="pagination" class="row-fluid">
        <a id="prevLink">&lt;&lt; Prev</a> <a id="nextLink">Next &gt;&gt;</a>
    </div>
    <div id="movies-div" class="row">
    </div>
</div>

<!-- index page. displaying all movies -->    
<script type="text/template" id="movie-template">
    <h3>

        {{ if (model.title.length <= 16) { }}
            {{= model.title }}
        {{ } else { }}
            {{= model.title.substring(0,13) + "..." }}
        {{ } }}
    </h3>
    <img src="{{= model.img_url }}">
    <p>Score:
        {{ if (model.avg_score != null) { }}
            {{= Math.round(model.avg_score * 100) / 100 }}
        {{ } else { }}
            0.0
        {{ } }} 
    </p>
</script>
<!-- End of index page --> 

<!-- single movie page. view only one movie with its reviews -->
<script type="text/template" id="single-movie-template">
    <div class="row-fluid">
        <a href="/" id="movies_path">movies</a> &gt;
        {{= model.title }}
        <br><br>
    </div>
    <div class="row">
        <div class="span3">
            <img src="{{= model.img_url }}">
        </div>
        <div class="span9">
            <div>
                <h3>{{= model.title }}</h3>
                <p>{{= model.summary }}</p>
                {{ if (model.user.id == uid) { }}
                    <p>
                        <a class="btn btn-danger" href="/#movie/delete/{{= model.id }}">Delete this movie!</a>&nbsp;
                        <a class="btn btn-info" href="/#movie/update/{{= model.id }}">Update this movie</a>
                    </p>
                {{ } else { }}
                {{ } }}
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="row-fluid">
            <h3 class="span12">Reviews</h3>
        </div>
        <div id="reviews-div">
            <!-- loop through each review and display them -->
            {{ _.each(model.reviews.toJSON(), function(review) { }}
                <div class="well">
                    <div class="row-fluid">
                        <p class="span12">
                            <strong>{{ if (review.user.id == uid) { }}You{{ } else { }}{{= review.user.username }}{{ } }} </strong> reviewed about <abbr class="timeago" title="{{=review.updated_at}}">time </abbr>.
                            <span class="label label-success pull-right">
                                {{= review.score }} points
                            </span>
                        </p>
                    </div>
                    <div class="row-fluid">
                        <p class="span12">{{= review.comment }}</p>
                    </div>
                    {{ if (review.user.id == uid) { }}
                        <div class="row-fluid">
                            <a href="/#movie/{{= model.id }}/review/delete/{{= review.id }}" class="btn btn-small btn-danger">
                                Delete review
                            </a>
                        </div>
                    {{ } else { }}
                    {{ } }}
                </div>
            {{ }); }}
        </div>
        <div class="well">
            <div id="new-review-input" class="row-fluid">
                <label for="review_score" class="span3">Score (1-100)</label>
                <input type="number" name="review[score]" id="review_score" class="span3">
            </div>
            <div class="row-fluid">
                <label for="review_comment" class="span3">Comment</label>
                <textarea rows="3" name="review[comment]" id="review_comment" cols="40" class="span9">
                </textarea>
            </div>
            <a class="btn" id="create-review-btn" href="/#review/create/{{=model.id}}">Create Review</a>
        </div>
    </div>
</script>
<!-- End of single movie page -->

<!-- create new movie page -->
<script type="text/template" id="create-movie-template">
<div>
    <div class="row-fluid">
        <a href="/">List of movies</a>
    </div>
    <h3>Create new movie</h3>
    <form method="POST" name="movie">
        <div class="control-group">
            <label for="movie_title" class="control-label">Title</label>
            <div class="controls">
                <input type="text" required="true" size="30" name="movie[title]" id="movie_title" class="text_field">
            </div>
        </div>
        <div class="control-group">
            <label for="movie_summary" class="control-label">Summary</label>
            <div class="controls">
                <input type="text" required="true" size="30" name="movie[summary]" id="movie_summary" class="text_field">
            </div>
        </div>
        <div class="control-group">
            <label for="movie_img" class="control-label">Img</label>
            <div class="controls">
                <input type="file" required="true" name="movie[img]" id="movie_img">
            </div>
        </div>
        <a id="submit" class="btn btn-primary">Create Movie</a>
        <a class="btn" id="cancel" href="#">Cancel</a>
    </form>
</div>
</script>
<!-- end of create new movie page --> 